mixin button(text, className, svgName, href)
	if href
		a.button(href=href, class=className)
			if svgName
				svg
					use(xlink:href=`./svg/sprite.svg#${svgName}`)
			span= text
	else
		button.button(class=className)&attributes(attributes)
			if svgName
				svg
					use(xlink:href=`./svg/sprite.svg#${svgName}`)
			span= text

mixin input(type, inputName, placeholder, labelText, value)
	if type === 'text' || type === 'email'
		label.label-text
			span= labelText
			input(type=('text' || 'email'), name=inputName, value=value, placeholder=placeholder)&attributes(attributes)
	if type === 'checkbox'
		label.label-check
			input(type='checkbox', name=inputName)&attributes(attributes)
			p
			span!= labelText
	if type === 'radio'
		label.label-radio
			input(type='radio', name=inputName)&attributes(attributes)
			p
			span!= labelText
	if type === 'file'
		.file
			label
				input(type='file')&attributes(attributes)
				svg
					use(xlink:href='./svg/sprite.svg#upload')
				span PDF
			.file__loaded
				a(download)
				svg
					use(xlink:href='./svg/sprite.svg#close')

mixin breadcrumbs(links, className)
	nav.breadcrumbs(class=className)
		each elem, i in links
			if i === links.length - 1
				li
					span.breadcrumbs__link.breadcrumbs__link--active= elem.text
			else
				li
					a(href=elem.href)
						span= elem.text
					svg
						use(xlink:href='./svg/sprite.svg#arrow')

mixin select(options, placeholder, startOption, className)
	select.select(class=className, data-placeholder= placeholder, data-option= startOption)
		each elem in options
			option(value=elem.value)= elem.text

mixin inputNum(className)
	.input-number(class=className)
		.input-number__btn.input-number__btn--less -
		input(type='number' name='number' min='0' max='999' value='0')
		.input-number__btn.input-number__btn--more +

mixin pagination()
	.pagination
		a.pagination__btn.pagination__btn--first(href='#')
			svg
				use(xlink:href='./svg/sprite.svg#pagi-arrow-double')
		a.pagination__btn.pagination__btn--prev(href='#')
			svg
				use(xlink:href='./svg/sprite.svg#pagi-arrow')
			span Пред
		.pagination__links
			a.pagination__link.active(href='#') 1
			a.pagination__link(href='#') 2
			a.pagination__link(href='#') 3
			a.pagination__link(href='#') 4
			a.pagination__link(href='#') 5
		a.pagination__btn.pagination__btn--next(href='#')
			span След
			svg
				use(xlink:href='./svg/sprite.svg#pagi-arrow')
		a.pagination__btn.pagination__btn--last(href='#')
			svg
				use(xlink:href='./svg/sprite.svg#pagi-arrow-double')
